{% extends 'form.html' %}

{% block header %}
Create car
{% endblock %}

{% block title %}
Register Car
{% endblock %}

{% block form %}
<form method="post" enctype="multipart/form-data">
    <label for="name">Car Name</label>
    <input type="text" name="name" id="name" required>
    <label for="price">Price</label>
    <input type="number" name="price" id="price" required>
    <label for="image">Image</label>
    <input type="file" name="image" id="image">
    <label for="brands">Brands</label>
    <select name="brands" id="brands">
        {% for brands in brand %}
        <option value="{{ brands['brand_name'] }}">{{ brands['brand_name'] }}</option>
        {% endfor %}
    </select>
    <label for="description">Description</label>
    <textarea name="description" id="description" style="width: 100%;" cols="150" rows="14"></textarea>
    <input type="submit" value="Register">
    <hr>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
</form>
{% endblock %}









