<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block header %}  {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>
    <fieldset class="container w-75 mt-5">
        <legend>{% block title %}  {% endblock %}</legend>
        <hr>
        {% block form %}

        {% endblock %}
    </fieldset>
</body>
</html>